<footer class="h-full mt-auto lg:hidden">
    <div class="grid grid-flow-col w-full text-white justify-evenly text-center py-5 mt-auto">
      <a href="https://github.com/SudoSurya" class="inline space-x-2 justify-center text-md">
        <i class="fa-brands fa-github"></i><p class="md:inline hidden">Sudo Surya</p>
      </a>
      <a href="www.linkedin.com/in/suryaundapalli" class="inline space-x-2 justify-center">
        <i class="fa-brands fa-linkedin"></i><p class="md:inline hidden">Surya Undapalli</p>
      </a>
      <a href="https://twitter.com/SudoSuryaa" class="inline space-x-2 justify-center">
        <i class="fa-brands fa-x-twitter"></i><p class="md:inline hidden">Surya</p>
      </a>
    </div>
</footer>
